.header,
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
    max-height: 500px;
    border-style: solid;
}

.body-text {
    margin: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 300px;
    height: 500px;
    border: 1px solid;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: auto;
    max-width: 300px;
    max-height: 500px;
    height: 400px;
    border: solid;
    /* padding: 10px; */
}

.btn-num-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ROW;
    flex-wrap: wrap;
    /* margin: auto; */
    border: 1px red;
    width: 180px;
}

.btn-func-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: auto; */
    border: 1px red;
}


.btn-func {
    width: 60px;
    height: 40px;

}

.btn-num {
    width: 60px;
    height: 40px;
} 



.screen {
    width: 150px;
    height: 60px;
    border: solid 1px;
    justify-content: center;
    margin: 10px;
}

.textbox {
    margin: 5px;
}

.answerbox {
    text-align: right;
    margin: 10px;
}