.header,
.everything {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    /* gap: 30px; */
    max-width: 600px;
}

.btn-container {
    max-width: 100px;

    padding: 10px;
}

.btn,
.btn-num,
.btn-func {
    width: 30px;
}